<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand"><span class="navbar-logo"></span></a>
            <button *ngIf="this.page_with_mega_menu" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <mega-menu *ngIf="page_with_mega_menu"></mega-menu>
        
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">

            <li *ngIf="!loggedIn"><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li *ngIf="!loggedIn"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            <!-- Top right login / profile image begins here !-->
            <li *ngIf="loggedIn" class="dropdown navbar-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- <img src="/assets/img/user-13.jpg" alt="" /> !-->
                    <img [src]="user.ImageURL" alt="NO IMAGE">
                    <span class="hidden-xs">{{user.Name}}</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                    <li class="arrow"></li>
                    <li><a href="javascript:;">Edit Profile</a></li>
                    <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                    <li><a href="javascript:;">Calendar</a></li>
                    <li><a href="javascript:;">Setting</a></li>
                    <li class="divider"></li>
                    <li *ngIf="loggedIn" (click)="callLogout()">
                        <a routerLink="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #header -->