<div class="row" style="color: white">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-body" >

                <!-- begin jumbotron -->
                <div class="jumbotron text-center bg-white card-textV2">
                    <h1 class="text-inverse" data-step="1"
                        data-intro="Hello world! I'm Intro.js"
                        data-hint="Hello world! I'm Intro.js"
                        data-hintPosition="top-middle"
                        data-position="bottom-right-aligned">Intro.js</h1>
                    <p class="lead m-b-20" data-step="2"
                       data-intro="This is a simple step-by-step guide made using Intro.js"
                       data-hint="This is a simple step-by-step guide made using Intro.js"
                       data-hintPosition="top-middle"
                       data-position="bottom-right-aligned">Step-by-step guide and feature introduction</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="javascript:void(0);" onclick="javascript:introJs().start();">Demo</a></p>
                    <a href="http://introjs.com/" target="_blank" class="text-muted" data-step="3"
                       data-intro="Intro.js is free and open-source. View it."
                       data-hint="Intro.js is free and open-source. View it."
                       data-hintPosition="top-middle"
                           data-position="bottom-right-aligned">View Official Website</a>
                </div>
                <!-- end jumbotron -->

                <h4>Examples</h4>
                <!-- begin row -->
                <div class="row card-textV2">
                    <!-- end col-4 -->
                    <div class="col-md-4">
                        <div class="panel-2">
                            <div class="panel-body">
                                <h4><i class="fa fa-bars fa-fw"></i> Progress bar</h4>
                                <p>
                                    Add progress-bar to your step-by-step introduction. It's as easy as adding <code>.setOption('showProgress', true)</code> option to your Intro.js instance.
                                </p>
                                <a href="javascript:;" class="btn btn-primary btn-sm"onclick="javascript:introJs().setOption('showProgress', true).start();" onclick="javascript:introJs().setOption('showProgress', true).start();">Demo</a>
                            </div>
                        </div>
                    </div>
                    <!-- begin col-4 -->
                    <!-- end col-4 -->
                    <div class="col-md-4">
                        <div class="panel-2" data-intro="Intro.js has many examples. Browse this section to find out more." data-step="4">
                            <div class="panel-body">
                                <h4><i class="fa fa-commenting-o fa-fw"></i> Hint</h4>
                                <p>
                                    Hints enables you to add additional descriptions to any part of a web page. You can define hints by adding <code>data-hint</code> attribute to the HTML elements.
                                </p>
                                <a href="javascript:;" class="btn btn-primary btn-sm" onclick="javascript:introJs().addHints();">Demo</a>
                            </div>
                        </div>
                    </div>
                    <!-- begin col-4 -->
                    <!-- end col-4 -->
                    <div class="col-md-4">
                        <div class="panel-2">
                            <div class="panel-body">
                                <h4><i class="fa fa-filter fa-fw"></i> Enable/disable options</h4>
                                <p>
                                    You can enable or disable options like buttons, progress-bar and bullets by calling the <code>setOption('showBullets', false)</code> function and pass option name.
                                </p>
                                <a href="javascript:;" class="btn btn-primary btn-sm" onclick="javascript:introJs().setOption('showBullets', false).start();">Demo</a>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->

            </div>
        </div>
    </div>
</div>